@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Nunito+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600;700&display=swap");

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

body {
    font-family: "Montserrat", sans-serif;
    height: 100%;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

._container {
    max-width: 1160px;
    padding: 0 20px;
    margin: 0 auto;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

._ibg {
    position: relative;
}

.header {
    width: 100%;
    max-height: 20%;
    left: 0;
    top: 0;
    position: relative;
}

.block--congratulation {
    padding: 400px 0 320px 0px;
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: center;
    text-align: center;
}
@media (max-width: 450.98px) {
    .block--congratulation {
        padding: 700px 0 319px 0;
    }
}

.text {
    background-color: rgba(177, 222, 252, 0.705);
    border-radius: 30px;
    padding: 20px;

    width: 800px;
    font-family: Comfortaa;
    font-size: 85px;
    font-weight: 700;
    letter-spacing: 0.01em;
    line-height: calc(16 / 14 * 100%);
    color: rgb(22, 13, 26);
}

.subtitle {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.01em;
    color: #1d1d1d;
    line-height: calc(16 / 14 * 100%);
    padding-top: 30px;
    text-align: center;
}

.font--congratulation {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.font--congratulation img {
    opacity: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
}
/*-----------------------------------*/
